{% extends "base.html" %}

{% block title %}Редактированеи{% endblock %}

{% block content %}

<h1>Редактирование задания</h1>
<form method="post">
    <div class="form-group">
        <label for="f-username">Имя пользователя</label>
        <input type="text" class="form-control" id="f-username" placeholder="Имя пользователя" name="username" value="{{ task.username }}">
    </div>
    <div class="form-group">
        <label for="f-email">Email</label>
        <input type="email" class="form-control" id="f-email" placeholder="Email" name="email" value="{{ task.email }}">
    </div>
    <div class="form-group">
        <label for="f-text">Текст задачи</label>
        <textarea name="text" class="form-control"  id="f-text" cols="30" rows="10" placeholder="Текст задачи">{{ task.content }}</textarea>
    </div>
    <div class="checkbox">
        <label>
            <input name="done" type="checkbox" {% if task.done %}checked="checked"{% endif %} value="1"> Выполнено
        </label>
    </div>
    <input type="hidden" name="action" value="update" />
    <input type="hidden" name="id" value="{{ task.id }}" />
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-check"></span> Сохранить</button>
</form>
{% endblock %}